{% extends 'layout.html.twig' %}

{% block content %}
    <h2>Bienvenue {{ app.session.get('user') }}</h2>
    <p>
        Bienvenue sur <em>Social Sondage</em>, ici, vous pourrez créer et participer
        à des sondages!
    </p>

    <h2>Comment ça marche?</h2>
    <p>
        Premièrement, <a href = "{{ path('register') }}">inscrivez-vous</a>, vous devez avoir un
        compte pour participer. <a href = "{{ path('create') }}">Créez</a> ensuite votre sondage en ligne.
        Vous obtiendrez un lien, en allant dans la rubrique <a href = "my-polls.php">mes sondages</a>
        que vous pourrez partager pour que les autres puissent participer.
    </p>
{% endblock %}






